.container-login {
  position: absolute;
  top: 190px;
  left: 700px;
  width: 1300px;
  bottom: 0;
  justify-content: right;
  align-items: right;
}

.login-image {
  position: absolute;
  top: 230px;
}

/* register form */
.container {
  position: absolute;
  top: 100px;
  left: 650px;
  right: -500;
  bottom: 0;
  justify-content: right;
  align-items: right; 
}